
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-logos img {
    height: 50px; /* Adjust this value as needed */
    margin-right: 10px; /* Space between logos */
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
     background-color: #c3cad21c;
    background-size: cover;
    background-attachment: fixed; 
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 60px auto;
}

/* Nav */
.nav-link {
    color: #6c757d; /* couleur gris pour le texte */
    font-size: 1.25rem;
    text-decoration: #6c757d; /* surlignement par defaut */
    border-bottom: 2px solid transparent; /* Ajoute espace surlignage */
    transition: border-color 0.3s ease; /* transition pour couleur surlignage  */
}
.nav-link:hover, .nav-link:focus {
    border-bottom-color: #585252 /* rouge surlignage /focus */;
    color: rgb(143 0 6);
}
/*CSS ATELIERS*/
.shadow-box {
    background-color: #f8f9fa; /* Couleur de fond */
    border-radius: 15px; /* Bordures arrondies */
    padding: 20px; /* Espacement interne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
    transition: box-shadow 0.3s ease; /* Effet de transition pour le survol */
    height: 100%; /* Assurer que toutes les cartes ont la même hauteur */
}

.shadow-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus intense au survol */
}

.card-title {
    font-size: 1.25rem; /* Taille du titre */
    margin-bottom: 1rem; /* Espace sous le titre */
    color: rgb(143 0 6);
}

.card-text {
    font-size: 1rem; /* Taille du texte */
    color: #6c757d; /* Couleur du texte */
}

.card-img-top {
    width: 90%; /* Assure que l'image occupe toute la largeur de la vignette */
    height: 150px; /* Fixe une hauteur uniforme pour toutes les images */
    object-fit: cover; /* Ajuste l'image pour qu'elle remplisse l'espace sans déformer */
    margin: auto;/*Centre l'image horizontalement */
    display: block;/* Obligatoire pour que le margin:auto fonctionne avec les images*/
}


/* hr positionnement*/
.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; /* Espace sous le titre */
}

.title-container h1 {
    margin: 0;
    padding-right: 10px;
}

.title-container hr {
    flex-grow: 1;
    border: 0;
    border-top: 2px solid #000;
}

/* carte inventaire style */
.card {
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

 /* Style pour la sidebar */
 .sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Style pour le contenu principal */
.content {
    padding: 20px;
}


.shadow-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
/* Style pour le footer */
.footer {
    background-color: #f8f9fa; /* Couleur de fond */
    padding: 20px; /* Espacement interne */
    border-top: 2px solid #000; /* Bordure supérieure */
    text-align: center; /* Alignement du texte */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px; /* Largeur maximale pour centrer le contenu */
    margin: 0 auto; /* Centre le contenu horizontalement */
}
.btn-primary  {
    background-color: #fff;
    border-color: rgb(143 0 6);
    color: black;
}
.btn-primary:hover {
    background-color: rgb(143 0 6);
    color: #fff;
    border: rgb(143 0 6);
}
.btn-outline-danger{
    background-color: #fff;
    border-color: rgb(143 0 6);
    color: black;
}

.btn-outline-danger:hover{
    background-color: rgb(143 0 6);
    color: #fff;
    border: rgb(143 0 6);
}
.card-header{
    background-color: rgb(143 0 6);
}
footer a {
    text-decoration: none;
    color: rgb(143 0 6);
  }
footer a:hover {
    text-decoration: underline;
}
footer .text-center {
    margin-right: 50px; /* Sépare davantage le paragraphe */
}
footer div:last-child {
    margin-left: 50px; /* Sépare davantage les liens */
}
  
  